###########################################################
# Kafka (Reliability and stability can not be guaranteed)
# Version 0.11+ is supported.
# Please read `readme.md` in Kafka Plugin, before use Kafka Plugin (https://github.com/naver/pinpoint/tree/master/plugins/kafka/README.md)
###########################################################
profiler.kafka.producer.enable=true
profiler.kafka.consumer.enable=true
# Setting when using spring-kafka (In this case, you can leave profiler.kafka.consumer.entryPoint option to empty.)
profiler.springkafka.consumer.enable=true
# you must set target that handles ConsumerRecord or ConsumerRecords(Remote Trace feature is not enabled.) as a argument for remote trace
# ex) profiler.kafka.consumer.entryPoint=clazzName.methodName
profiler.kafka.consumer.entryPoint=test.pinpoint.plugin.kafka.TestConsumerRecordEntryPoint.consumeRecord